<div id="recentData" class="page-layout simple fullwidth page-content" fxLayout="column" fusePerfectScrollbar>
	<div class="content">
		<div class="mb-24 dashboardInfo">
			<div class="eleDiv searchResult">
				<div class="partnerName">
					<span class="partnerName">&nbsp;</span>
				</div>
			</div>

		</div>
		<div class="h1">
			<span class="page-title">Recent Data</span>
		</div>

		<div class="mb-24 card-ele">
			<div class="mat-card mat-elevation-z4 p-24 mr-24">
				<div>
					<div class="eleDiv tblOfExpand">
						<table>
							<tr>
								<td style="width: 60%;"><canvas id="barChart"></canvas></td>
								<td style="width: 700px; height: 50%;"></td>
							</tr>
						</table>
					</div>
				</div>

			</div>
		</div>

	</div>
</div>