<form [formGroup]="updatepassword">
    <div *ngIf="display" style="margin-top:60px;width:100px; margin:0 auto;">
        <div style="width:100px; margin:0 auto;">
            <app-radar-spinner [animationDuration]="1000"
                               [size]="90"
                               [color]="'#ff1d5e'">
            </app-radar-spinner>
        </div>
        <div style="width:50px; margin:0 auto;">
            <span>Updating..</span>
        </div>
    </div>
    <div *ngIf="display === false">
        <div class="row">
            <div class="col-md-11 pr-1">
                <div class="form-group">
                    <label>Enter new password</label>
                    <input type="text" class="form-control" formControlName="newpassword" required style="font-weight: 700;font-size:11px">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-11 pr-1">
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" formControlName="confirmpassword" required style="font-weight: 700;font-size:11px">
                </div>
            </div>
        </div>
        <br />
        <div class="modal-footer">
            <div class="row">
                <div class="column">
                    <button type="button" (click)="onupdate()" class="btn btn-success btn-lg">Update</button>
                </div>
                <div class="column">
                    <button (click)="closeModal()" type="button" class="btn btn-danger btn-lg">Close</button>
                </div>
            </div>
        </div>
    </div>    
</form>