<div id="fieldValueDialogDiv" fxFlex="50" class="page-layout simple fullwidth page-content dialog-content modal_S_Size"
    fxLayout="column" fusePerfectScrollbar>
    <div class="h1">
        <span class="page-title">Update Password</span>
        <span class="meta-info" id="meta-info">
            <a href="javascript:void(0);" (click)="CloseUpdatePasswordDialog()">
                X
            </a>
        </span>
    </div>

    <form [formGroup]="userProfileService.update_password_form">
        <div class="">

            <div class="mb-24 card-ele">
                <div class="mat-card">
                    <div class="p-16">

                        <div class="eleDiv">
                            <mat-form-field fxFlex="67">
                                <input formControlName="password" matInput placeholder="Password" maxlength="20" minlength="6" required />
                                <mat-error>
                                    <mat-error class="error-message" *ngIf="userProfileService.update_password_form.get('password').invalid && (userProfileService.update_password_form.get('password').dirty || userProfileService.update_password_form.get('password').touched)">{{appService.validationMessage(1,null,6,20)}}</mat-error>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="eleDiv">
                            <mat-form-field fxFlex="67">
                                <input type="password" formControlName="confirmPassword" maxlength = "20" minlength="6" matInput placeholder="Confrim Password" required />
                                <mat-error>
                                    <mat-error class="error-message" *ngIf="userProfileService.update_password_form.get('confirmPassword').invalid && (userProfileService.update_password_form.get('confirmPassword').dirty || userProfileService.update_password_form.get('confirmPassword').touched)">{{appService.validationMessage(1,null,6,20)}}</mat-error>
                                </mat-error>
                            </mat-form-field>
                        </div>

                    </div>
                    <!-- Button Starts here -->
                    <div class="mb-24 card-ele">

                        <div class="btn-section mr-24 text-right pb-15">
                            <button id="close" style="display: none;" mat-raised-button type="button" (click)="CloseUpdatePasswordDialog()"
                                class="btn primary_button">
                                Cancel
                            </button>
                            <button mat-raised-button type="button" (click)="reset()" class="btn secondary_button">
                                Reset
                            </button>
                            <button mat-raised-button type="button" (click)="checkFormValidity()" class="btn primary_button">
                                Save
                            </button>

                        </div>
                    </div>
                    <!-- Button ends here -->

                </div>

            </div>

        </div>
    </form>
</div>